<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="./../style/homestyle.css">
    <title>C-Connect</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark"style="background-color: #0E185F;">
        <div class="container container-fluid">
          <a class="navbar-brand" href="/">C-Connect</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/newPost">New Post</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Community
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/mygroups">My Communitues</a></li>
                  <li><a class="dropdown-item" href="/newgroup">New Community</a></li>
                </ul>
              </li>
              
            </ul>
            <div class="justify-content-end">
              <img class='icon' src='./../avatar/<%= user.pic %>' style="display: inline;"></img>
              <a class="nav-link active" aria-current="page" style="display: inline;color:aliceblue" href="#"><%= user.username %></a>
           
            </div>
          </div>
        </div>
      </nav>
    <div class="container  form-style">
        <form action="/editPost/<%=post._id%>" method="POST">
              <h2 style="margin-left:5px;"><strong>Edit Post</strong></h2>
              <div class="form-floating">
                <textarea name="text" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 300px" required><%=post.text%></textarea>
                <label for="floatingTextarea2">Write your experience</label>
              </div>
              <label for="group">Community</label>
              <select name="postedIn" class="form-control" id="group" disabled>
                    <option value="<%=post.postedIn._id.toString()%>"><i class="fa-solid fa-user-group"></i><%= post.postedIn.name%></option>
              </select>
              <br>
              <button type="submit" class="btn btn-primary" style="background-color:#0E185F;border:none">Update</button>
             
        </form>
        <form action="/deletePost/<%=post._id%>" method="POST" style="margin:none">
            <button type="submit" class="btn btn-primary" style="background-color:#0E185F;border:none;display:inline-block"><i class="fa-solid fa-trash-can"></i>    Delete Post</button>
        </form>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>