<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="./../style/homestyle.css">
    <title>C-Connect</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark"style="background-color: #0E185F;">
        <div class="container container-fluid">
          <a class="navbar-brand" href="/">C-Connect</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/newPost">New Post</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Community
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/mygroups">My Communities</a></li>
                  <li><a class="dropdown-item" href="/newgroup">New Community</a></li>
                </ul>
              </li>
              
            </ul>
            <div class="justify-content-end">
              <img class='icon' src='./../avatar/<%= user.pic %>' style="display: inline;"></img>
              <a class="nav-link active" aria-current="page" style="display: inline;color:aliceblue" href="#"><%= user.username %></a>
           
            </div>
          </div>
        </div>
      </nav>
    <div class="container  form-style">
        <form action="/editGroup/<%=group._id%>" method="POST">
              <h2 style="margin-left:5px;"><strong>Edit Community</strong></h2>
              <div class="mb-3">
                <label for="groupName" class="form-label">Community Name</label>
                <input name="name" type="text" class="form-control" id="groupName" required value="<%= group.name%>">
              </div>
              <div class="form-floating">
                <textarea name="members" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 300px" data-bs-toggle="tooltip" title="Enter all members username in new line.(Username can be seen on top-right corner of page)"></textarea>
                <label for="floatingTextarea2">Add new Colleagues username</label>
              </div>
              
              <button type="submit" class="btn btn-primary" style="background-color:#0E185F;border:none">Update Community</button>
              <hr>
              <h2>All Colleagues</h2>
              <ul class="list-group" style="max-width:460px; margin-bottom: 15px;">
                <% group.members.forEach(function(eachmember){ 
                  if(eachmember.username == user.username) {%>
                    
                    <li class="list-group-item" style="color:rgb(47, 164, 255)"><img class='icon' src='./../avatar/<%= eachmember.pic %>' style="display: inline;"></img> <%= eachmember.username %></li>
                  <%} else { %> 
                    <li class="list-group-item"><img class='icon' src='./../avatar/<%= eachmember.pic %>' style="display: inline;"></img> <%= eachmember.username %></li>
                  <%} %>
                <% }); %>
            </ul>
        </form>
    </div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>